snapshots:
  min: {{ requiredEnv "ES_SNAPSHOT_MIN" }}
  max: {{ requiredEnv "ES_SNAPSHOT_MAX" }}
  maxAgeSeconds: {{ requiredEnv "ES_SNAPSHOT_AGE_SECONDS" }}
  schedule: {{ requiredEnv "ES_SNAPSHOT_RETENTION_SCHEDULE" | quote }}

snapshotRepository: s3_{{ requiredEnv "CLOUD_PROVIDER" }}_7.x

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 10m
    memory: 32Mi