schedule: {{ requiredEnv "ES_SNAPSHOT_SCHEDULE" | quote }}

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 10m
    memory: 32Mi

snapshotRepository: s3_{{ requiredEnv "CLOUD_PROVIDER" }}_7.x

# Ignore security plugin index as per 
# https://opendistro.github.io/for-elasticsearch-docs/docs/elasticsearch/snapshot-restore/#security-plugin-considerations
indices: "*,-.opendistro_security"