image:
  tag: 0.22.1
  pullPolicy: IfNotPresent
falco:
  jsonOutput: true
  syscallEventDrops:
    # Should be removed when fixed. Probably in 1.0.0 https://github.com/falcosecurity/falco/milestone/3
    actions:
      - ignore
auditLog:
  # Need to change api-server arguments for it to work.
  enabled: false
resources:
  limits:
    cpu: 200m
    memory: 1024Mi
  requests:
    cpu: 100m
    memory: 512Mi
