restrictImageRegistry:
    enable: {{ requiredEnv "ENABLE_HARBOR" }}
    enforcementAction: {{ requiredEnv "OPA_ENFORCEMENT_IMAGE_REGISTRY" }}
requireNetworkpolicies: 
    enable: true
    enforcementAction: {{ requiredEnv "OPA_ENFORCEMENT_NETWORKPOLICIES" }}
requireResourceRequests: 
    enable: true
    enforcementAction: {{ requiredEnv "OPA_ENFORCEMENT_RESOURCE_REQUESTS" }}

imageRegistryURL: harbor.{{ requiredEnv "ECK_BASE_DOMAIN" }}
