dbPassword: {{ requiredEnv "HARBOR_DB_PWD" }}
s3:
  accessKey: {{ requiredEnv "S3_ACCESS_KEY" }}
  secretKey: {{ requiredEnv "S3_SECRET_KEY" }}
  bucket: {{ requiredEnv "S3_HARBOR_BUCKET_NAME" }}
  endpoint: {{ requiredEnv "S3_REGION_ENDPOINT" }}