image:
  tag: "1.7.8-alpine"

persistence:
  useExisting: false
  storageClass: "nfs-client"

setDefaultUser:
  user:
    username: demo
    password: demo-pass

env:
- name: INFLUXDB_ADMIN_USER
  value: demo
- name: INFLUXDB_ADMIN_PASSWORD
  value: demo-pass

config:
  http:
    auth_enabled: true

initScripts:
  enabled: true
  scripts:
    init.iql: |+
      CREATE DATABASE "service_cluster";
      CREATE DATABASE "workload_cluster"