influxdb:
  username: admin
  password: {{ requiredEnv "INFLUXDB_PWD" }}
  databaseName: service_cluster
retention:
  cronSchedule: "* * * * *"
  minShards: "1"
  databaseSizeLimit: "5000000"
  logLevel: INFO