virtenv
.ssh
kubeconfig
certs
.env
**/terraform.tfstate
**/terraform.tfstate.*
**/cluster.yaml
**/cluster.rkestate
**/.terraform
**/*.tfstate
**/*.state
**/*.rkestate
env.sh
hosts.ini
clusters
**/*.coverage
**/__pycache__
.vscode
.s3cfg*
