#cloud-config
runcmd:
  - sudo apt-get install nfs-kernel-server -y
  - sudo mkdir -p /nfs && sudo chown nobody:nogroup /nfs
  - echo "/nfs %{for addr in worker_ips } ${addr}(rw,sync,no_subtree_check,no_root_squash) %{ endfor }" > /etc/exports
  - sudo exportfs -rav
  - sudo ufw allow 2049
  - wget https://github.com/prometheus/node_exporter/releases/download/v0.18.1/node_exporter-0.18.1.linux-amd64.tar.gz
  - tar xvfz node_exporter-0.18.1.linux-amd64.tar.gz
  - sudo mv node_exporter-0.18.1.linux-amd64/node_exporter /usr/local/bin/node_exporter
  
