${master_hosts}
${worker_hosts}

[all:vars]
k8s_version=${k8s_version}
k8s_pod_cidr=192.168.0.0/16
k8s_service_cidr=10.96.0.0/12
control_plane_endpoint=${control_plane_endpoint}
public_endpoint=${public_endpoint}

ansible_user='ubuntu'
ansible_port=22

ansible_python_interpreter=/usr/bin/python3
ansible_ssh_common_args='-o StrictHostKeyChecking=no'

cloud_provider='${cloud_provider}'
cluster_name='${cluster_name}'

[masters]
${masters}

[workers]
${workers}

[nodes]
${masters}
${workers}
