#cloud-config
runcmd:
  - sudo apt-get install nfs-kernel-server -y
  - sudo mkdir -p /nfs && sudo chown nobody:nogroup /nfs
  - echo "/nfs ${internal_cidr_prefix}(rw,sync,no_subtree_check,no_root_squash)" > /etc/exports
  - sudo exportfs -rav
  - sudo ufw allow 2049
  # TODO: Remove when managed virtual router/DHCP is working properly.
  - sudo netplan apply
# TODO: Remove when managed virtual router/DHCP is working properly.
write_files:
- path: /etc/netplan/01-privnet.yaml
  content: |
    network:
      version: 2
      renderer: networkd
      ethernets:
        eth1:
          dhcp4: no
          addresses:
           - ${address}
