[Global]
username={{cloud_provider_config.username}}
password={{cloud_provider_config.password}}
auth-url={{cloud_provider_config.auth_url}}
tenant-id={{cloud_provider_config.tenant_id}}
domain-name={{cloud_provider_config.domain_name}}
