apiVersion: kubeadm.k8s.io/v1beta2
kind: JoinConfiguration
discovery:
  bootstrapToken:
    apiServerEndpoint: "{{ control_plane_endpoint | default(hostvars[groups.masters.0].private_ip) }}:{{ control_plane_port | default(6443) }}"
    token: "{{ hostvars[groups.masters_active.0].join_token }}"
    caCertHashes:
    - "sha256:{{ hostvars[groups.masters_active.0].ca_key_hash }}"
nodeRegistration:
  kubeletExtraArgs:
    node-ip: "{{ private_ip }}"
{% if cloud_provider is defined %}
    cloud-provider: "{{ cloud_provider }}"
{% if cloud_config is defined %}
    cloud-config: "{{ cloud_config }}"
{% endif %}
{% endif %}
controlPlane:
  localAPIEndpoint:
    advertiseAddress: "{{ private_ip }}"
    bindPort: 6443
  certificateKey: "{{ hostvars[groups.masters_active.0].cert_key }}"
