apiVersion: kubeadm.k8s.io/v1beta2
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: {{ private_ip }}
  bindPort: 6443
nodeRegistration:
  criSocket: /var/run/dockershim.sock
  kubeletExtraArgs:
    cgroup-driver: "systemd"
{% if cloud_provider is defined %}
    cloud-provider: "{{ cloud_provider }}"
{% endif %}

---
apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
apiServer:
  certSANs:
    - "{{ public_endpoint | default(ansible_host) }}"
{% if control_plane_endpoint is defined %}
    - "{{ control_plane_endpoint }}"
{% endif %}
  extraVolumes:
    - name: "kubernetes-conf"
      hostPath: "/etc/kubernetes/conf"
      mountPath: "/etc/kubernetes/conf"
      readOnly: false
      pathType: "Directory"
    - name: "kube-audit"
      hostPath: "/var/log/kube-audit"
      mountPath: "/var/log/kube-audit"
      readOnly: false
      pathType: "Directory"
  extraArgs:
    authorization-mode: "Node,RBAC"
    oidc-issuer-url: "https://dex.{{ lookup('env','ECK_BASE_DOMAIN') }}"
    oidc-client-id: "kubelogin"
    oidc-username-claim: "email"
    oidc-groups-claim: "groups"
    audit-policy-file: "/etc/kubernetes/conf/audit-policy.yaml"
    audit-log-path: "/var/log/kube-audit/kube-apiserver.log"
    # Increase number of delete workers
    delete-collection-workers: "3"
    # Set the level of log output to debug-level
    v: "4"
    # Set max age for audit logs
    audit-log-maxage: "7"
    enable-admission-plugins: "PodSecurityPolicy,NamespaceLifecycle,LimitRanger,ServiceAccount,DefaultStorageClass,DefaultTolerationSeconds,MutatingAdmissionWebhook,ValidatingAdmissionWebhook,ResourceQuota,NodeRestriction"
{% if cloud_provider is defined %}
    cloud-provider: "{{ cloud_provider }}"
{% endif %}
  timeoutForControlPlane: 4m0s
certificatesDir: /etc/kubernetes/pki
clusterName: {{ cluster_name }}
{% if control_plane_endpoint is defined %}
controlPlaneEndpoint: "{{ control_plane_endpoint }}:6443"
{% endif %}
{% if cloud_provider is defined %}
controllerManager:
  extraArgs:
    cloud-provider: "{{ cloud_provider }}"
{% else %}
controllerManager: {}
{% endif %}
dns:
  type: CoreDNS
etcd:
  local:
    dataDir: "/var/lib/etcd"
imageRepository: k8s.gcr.io
kubernetesVersion: v{{ k8s_version }}
networking:
  # rke equivalent: service_cluster_ip_range
  serviceSubnet: {{ k8s_service_cidr }}
  # rke equivalent: cluster_cidr
  podSubnet: {{ k8s_pod_cidr }}
  dnsDomain: "cluster.local"
scheduler: {}
# @todo:
# private_registries:
#     - url: harbor.test-gadr.a1ck.io
#       user: admin
#       password: BKjLJOz4S64PPaNxamyf
