${master_hosts}
${worker_hosts}

[all:vars]
k8s_pod_cidr=192.168.0.0/16
k8s_service_cidr=10.96.0.0/12

ansible_user='ubuntu'
ansible_port=22
# TODO: move this to ansible.cfg when upgraded to ansible 2.8
ansible_python_interpreter=/usr/bin/python3

%{ if control_plane_endpoint != "" ~}
control_plane_endpoint='${control_plane_endpoint}'
%{ endif ~}
%{ if control_plane_port != "" ~}
control_plane_port='${control_plane_port}'
%{ endif ~}
%{ if public_endpoint != "" ~}
public_endpoint='${public_endpoint}'
%{ endif ~}
%{ if private_network_cidr != "" ~}
private_network_cidr='${private_network_cidr}'
%{ endif ~}
%{ if cloud_provider != "" ~}
cloud_provider='${cloud_provider}'
%{ endif ~}
%{ if cloud_config != "" ~}
cloud_config='${cloud_config}'
%{ endif ~}
cluster_name='${cluster_name}'

calico_mtu='${calico_mtu}'

kubeadm_init_extra_args='${kubeadm_init_extra_args}'

[masters]
${masters}

[workers]
${workers}

%{ if loadbalancers != "" ~}
[loadbalancers]
${loadbalancers}
%{ endif ~}

%{ if internal_lb_children != "" ~}
[internal_lb:children]
${internal_lb_children}
%{ endif ~}

[nodes:children]
masters
workers
