${master_hosts}
${worker_hosts}

[all:vars]
k8s_version=1.15.11
k8s_pod_cidr=192.168.0.0/16
k8s_service_cidr=10.96.0.0/12

ansible_user='ubuntu'
ansible_port=22

ansible_python_interpreter=/usr/bin/python3
ansible_ssh_common_args='-o StrictHostKeyChecking=no'

%{ if cloud_provider != "" ~}
cloud_provider='${cloud_provider}'
%{ endif ~}
%{ if cloud_config != "" ~}
cloud_config='${cloud_config}'
%{ endif ~}
cluster_name='${cluster_name}'

[masters]
${masters}

[workers]
${workers}

%{ if loadbalancers != "" ~}
[loadbalancers]
${loadbalancers}
%{ endif ~}

[nodes]
${masters}
${workers}
